<form [formGroup]="nameForm" *ngIf="!isNameEntered" (submit)="onSubmit()">
    <div>
        <label for="fname">First Name</label>
        <input type="text" id="fname" name="firstname" placeholder="Your name.." formControlName="firstName">
    </div>
    <input type="submit" value="Submit">
</form>
